@import "tailwindcss";

@theme {
  --color-foreground: #d3c6aa;
  --color-red: #e67e80;
  --color-orange: #e69875;
  --color-yellow: #dbbc7f;
  --color-green: #a7c080;
  --color-blue: #7fbbb3;
  --color-aqua: #83c092;
  --color-purple: #d699b6;
  --color-bg-dim: #232a2e;
  --color-bg-0: #2d353b;
  --color-bg-1: #343f44;
  --color-bg-2: #3d484d;
  --color-bg-3: #475258;
  --color-bg-4: #4f585e;
  --color-bg-5: #56635f;
  --color-bg-red: #543a48;
  --color-bg-visual: #514045;
  --color-bg-yellow: #4d4c43;
  --color-bg-green: #425047;
  --color-bg-blue: #3a515d;
  --color-gray-0: #7a8478;
  --color-gray-1: #859289;
  --color-gray-2: #9da9a0;
  --color-fg-dark: #5c6a72;
  --color-red-light: #f85552;
  --color-orange-light: #f57d26;
  --color-yellow-light: #dfa000;
  --color-green-light: #8da101;
  --color-blue-light: #3a94c5;
  --color-aqua-light: #35a77c;
  --color-purple-light: #df69ba;
  --color-bg-dim-light: #efebd4;
  --color-bg-0-light: #fdf6e3;
  --color-bg-1-light: #f4f0d9;
  --color-bg-2-light: #efebd4;
  --color-bg-3-light: #e6e2cc;
  --color-bg-4-light: #e0dcc7;
  --color-bg-5-light: #bdc3af;
  --color-bg-red-light: #fbe3da;
  --color-bg-visual-light: #eaedc8;
  --color-bg-yellow-light: #faedcd;
  --color-bg-green-light: #f0f1d2;
  --color-bg-blue-light: #e9f0e9;
  --color-gray-0-light: #a6b0a0;
  --color-gray-1-light: #939f91;
  --color-gray-2-light: #829181;

  --font-sans: "Noto Sans JP", Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: "Hack Nerd Font", monospace;
}

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-bg-0);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}